header{
    text-align: center;
    height: 140px;
    background-color: rgb(206, 199, 128);
    font-size: 100px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.flexbox{
    display: flex;
    background-color: rgb(206, 199, 128);
    flex-direction: column;
    font-size: 22px;
    max-width: 200px;
    float: left;
    }

footer
{
    text-align: center;
    height: 80px;
    background-color: rgb(206, 199, 128);
    font-size: 30px;
    float: bottom;
}
article{
    text-align: left;
    max-width: 1200px;
    
}

body{
    background-color: rgb(241, 224, 122); 
}